{% extends 'landing.html' %}
{% load static %}

{% block content %}

<div class="col-md-10 col-9 mx-auto mb-3">
    {% if type == "grievant" %}
        <h1>Student/Staff Login</h1>
    {% else %}
        <h1>Handler Login</h1>
    {% endif %}
    <hr class="horizontal-divider" />
</div>
<div class="col-md-10 col-9 mx-auto">
    <form method="POST">
        {% csrf_token %}
      <div class="mb-2">
        <input type="text" name="username" placeholder="Enter User ID"
          class="form-control"
          id="username"
          required
        />
      </div>
      <div class="mb-2">
        <input type="password" name="password" placeholder="Enter Password"
          class="form-control"
          id="password"
          required
        />
      </div>
      <div class="mb-3 text-end">
        <a style="text-decoration: none;" href="{% url 'reset_password' %}">Forgot Password ?</a>
      </div>
      <button type="submit" class="btn btn-success w-100">
          Login
      </button>
    </form>
</div>

{% endblock %}