{% load static %}
{% load django_jsonform %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" type='text/css' href="{% static 'css/navbar.css' %}">
<title>Greivance Redressal Portal</title>

{% if messages %}
{% for msg in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
  {{ msg }}
</div>
{% endfor %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-brand ms-1 d-flex">
            {% if landing != 1 %}
            <a class="mx-2" href="https://www.daiict.ac.in/" style="text-decoration: none;">
                <img class='img' height="35px" src="{% static 'images/da.png' %}">
            </a>       
            {% endif %}
            {% if analyticsPermission == 1 %} <!-- If dash == 1 -->
            <a class="d-flex align-items-center link ms-2" style="text-decoration: none; font-size: medium;" href="{% url 'analytics' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard2-data-fill" viewBox="0 0 16 16">
                    <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
                    <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V9a1 1 0 0 1 1-1Z"/>
                </svg>
                <div class="mx-1 d-none d-md-block text-center">
                    <h6 style="margin-bottom: 0 !important;">Analytics</h6>
                </div>
            </a>    
            {% endif %}
            {% if grievance == 1 %}
            <button data-bs-target="#sidebar" data-target="collapse" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="#sidebar" class="btn ms-2">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg> 
                    <div class="d-none d-md-block mx-2 text-center">
                        <h6 style="margin-bottom: 0 !important;">Toggle Details</h6>
                    </div>
                </div>
            </button>
            {% endif %}
        </div>
        
        <div class="d-flex me-1 ms-auto nv">
            {% if analytics == 1 %}
            <a class="nav-link" href="{% url 'landing' %}">Dashboard</a>
            {% endif %}

            {% if landing == 1 or dash == 1 %}
            <a class="nav-link" href="https://www.daiict.ac.in/grievance-redressal-cell">About</a>
            {% endif %}

            {% if handler == 1 %}
            <a class="nav-link" href="{% url 'handlerDashboard' %}">Dashboard</a>
            {% elif user == 1 %}
            <a class="nav-link" href="{% url 'userDashboard' %}">Dashboard</a>
            {% endif %}

            {% if dash == 1 %}
            <li class="nav-item dropdown d-flex flex-row me-2">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li class="dropdown-item" style="font-weight: bold;">{{ userID.get_full_name }}</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'changepass' %}">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
            {% endif %}

        </div>
    </div>
</nav>

<body>
    <script src="{% static 'bootstrap/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

{% endblock %}